
@{
    ViewData["Title"] = "Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ReceitaId"] = "2";
}

<h2>Editor</h2>

<script>

  

    var json = $.getJSON("/api/Receita/@ViewData["ReceitaId"]", (data) => {
        $("#IdReceita").val(data.info.id);
        $("#ImagemLinkReceita").val(data.info.imagemLink);
        $("#VideoLinkReceita").val(data.info.videoLink);
        $("#DescricaoReceita").val(data.info.descricao);
        $("#NomeReceita").val(data.info.nome);
        $("#DificuldadeReceita" + data.info.dificuldade).prop("checked", true);
        $("#PorcoesReceita").val(data.info.porcoes);
        $("#TempodepreparacaoReceita").val(data.info.tempodepreparacao);
        $("#TempodeesperaReceita").val(data.info.tempodeespera);
        $("#EnergiaReceita").val(data.info.energia);
        $("#GorduraReceita").val(data.info.gordura);
        $("#HidratosCarbonoReceita").val(data.info.hidratosCarbono);
        var k;
        for (k = 1; k <= data.passos.length; k++){
            $("#stepSelect").append('<option value='+k+'>'+k+'</option>');
        }
        
    });

    $(document).ready(function () {
        $("select.step").change(function () {
            var i = $(this).children("option:selected").val();
            var length = json.responseJSON.passos.length;
        
            if (i == "Create New" || length < i) {
                $("#NumeroPasso").val(length + 1);
                $("#DescricaoPasso").val("");
                $("#ImagemLinkPasso").val("");
                $("#VideoLinkPasso").val("");
                $("#LinkExternoPasso").val("");
                $("#DuracaoPasso").val("");
                $("#AssessoriosPasso").hide();
            }
            else {
                passo = json.responseJSON.passos[i - 1];
                console.log(i);
                $("#AssessoriosPasso").show();
                $("#NumeroPasso").val(i);
                $("#dpid").val(i);
                $("#ingpid").val(i);
                $("#upId").val(i);
                $("#DescricaoPasso").val(passo.info.descricao);
                $("#ImagemLinkPasso").val(passo.info.imagemLink);
                $("#VideoLinkPasso").val(passo.info.videoLink);
                $("#LinkExternoPasso").val(passo.info.linkExterno);
                $("#DuracaoPasso").val(passo.info.duracao);
            }
        });
    });
</script>
        
        <div class="row">
            <div id="coisas" />
                <form method="post" action="/api/Receita/update">
                    <input name="id" id="idReceita" value="@ViewData["ReceitaId"]" hidden />
                    Nome:
                    <input name="Nome" id="NomeReceita" type="text" required />
                    Descrição:
                    <input name="Descricao" id="DescricaoReceita" type="text" required />
                    Imagem:
                    <input name="ImagemLink" id="ImagemLinkReceita" type="url" />
                    Video:
                    <input name="VideoLink" id="VideoLinkReceita" type="url" />
                    Dificuldade:
                    <fieldset>
                        Facil
                        <input type="radio" name="Dificuldade" id="DificuldadeReceita1" value="1" required />
                        Médio
                        <input type="radio" name="Dificuldade" id="DificuldadeReceita2" value="2" required />
                        Dificil
                        <input type="radio" name="Dificuldade" id="DificuldadeReceita3" value="3" required />
                    </fieldset>
                    Porções:
                    <input name="Porcoes" id="PorcoesReceita" type="number" required />
                    <fieldset>
                        Nutricao:
                        Energia:
                        <input name="Energia" id="EnergiaReceita" type="number" required />
                        Gordura:
                        <input name="Gordura" id="GorduraReceita" type="number" required />
                        
                        Hidratos de Carbono:
                        <input name="HidratosCarbono" id="HidratosCarbonoReceita" type="number" required />
                    </fieldset>
                   
                    <input type="submit" value="Guardar">
                </form>
            </div>
        </div>

        <label for="exampleFormControlSelect1">Example select</label>
        <select class="step" id="stepSelect">
            <option>Create New</option>
        </select>
        <div id="RecipeEditor">
                Criar Passo: 
                <form method="POST" action="/api/Receita/passo">
                    <input value="1" name="Numero" id="NumeroPasso" hidden />
                    <input value="@ViewData["ReceitaId"]" name="Receitaid" id="ReceitaidPasso" hidden />
                    <input hidden />
                    Descricao:
                    <input type="text" name="Descricao" id="DescricaoPasso" required />
                    Imagem:
                    <input type="url" name="ImagemLink" id="ImagemLinkPasso" />
                    Video:
                    <input type="url" name="VideoLink" id="VideoLinkPasso" />
                    Link Externo:
                    <input type="url" name="LinkExterno" id="LinkExternoPasso" />
                    Duração:
                    <input type="number" name="Duracao" id="DuracaoPasso" required />
                    
                    <input type="submit" value="Submit">
                </form>
            <div id="AssessoriosPasso" style="display: none" class="row">
                <div class="col-md-4">
                    PassoDúvida Adicionar:
                    <form method="POST" action="api/Receita/passo/duvida">
                        <input value="1" name="Passoid" hidden id="dpid"/>
                        <input value="@ViewData["ReceitaId"]" name="PassoReceitaid" hidden />
                        Id da Dúvida:
                        <input name="Dúvidaid" required />
                        Questão:
                        <input name="Questao" required />
                        
                        <input type="submit" value="Guardar">
                    </form>
                </div>

                <div class="col-md-4">
                    IngredienteDúvida Adicionar:
                    <form method="POST" action="/api/Receita/passo/ingrediente">
                        <input value="1" type="number" name="Passoid" id="ingpid"hidden />
                        <input value="@ViewData["ReceitaId"]" type="number" name="PassoReceitaid" hidden />
                        Id do Ingrediente:
                        <input type="number" name="Ingredienteid" required />
                        Quantidade:
                        <input type="number" name="Quantidade" required />
                        
                        <input type="submit" value="Adicionar">
                    </form>
                </div>

                <div class="col-md-4">
                    UtensilioDúvida Adicionar:
                    <form method="POST" action="/api/Receita/passo/utensilio">
                        <input value="1" type="number" name="Passoid" id="upId" hidden />
                        <input value="@ViewData["ReceitaId"]" type="number" name="PassoReceitaid" hidden />
                        Id do Utensilio:
                        <input type="number" name="Utensilioid" required />
                        <input type="submit" value="Adicionar">
                    </form>
                </div>
            </div>
        </div>