
@{
    ViewData["Title"] = "Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ReceitaId"] = "1";
}

<h2>Editor</h2>

<script>
    var json = $.getJSON("/api/Receita/@ViewData["ReceitaId"]", (data) => {
        $("#IdReceita").val(data.info.id);
        $("#ImagemLinkReceita").val(data.info.imagemLink);
        $("#VideoLinkReceita").val(data.info.videoLink);
        $("#DescricaoReceita").val(data.info.descricao);
        $("#NomeReceita").val(data.info.nome);
        $("#DificuldadeReceita" + data.info.dificuldade).prop("checked", true);
        $("#PorcoesReceita").val(data.info.porcoes);
        $("#TempodepreparacaoReceita").val(data.info.tempodepreparacao);
        $("#TempodeesperaReceita").val(data.info.tempodeespera);
        $("#EnergiaReceita").val(data.info.energia);
        $("#GorduraReceita").val(data.info.gordura);
        $("#HidratosCarbonoReceita").val(data.info.hidratosCarbono);
        var k;
        for (k = 1; k <= data.passos.length; k++){
            $("#stepSelect").append('<option value='+k+'>'+k+'</option>');
        }

    });
    $(document).ready(function () {
        $("select.ingredSelect").change(function () {
            var k = $(this).children("option:selected").val();
            if (k == 'Adicionar Novo') {
                $('#IngredienteIdEdit').val('');
                $('#IngIdClass').show();
                $('#IngredienteQuantEdit').val('');
                $('#IngSubmitButton').val("Adicionar");
            }
            else {
                var numpasso = $("#NumeroPasso").val();
                passo = json.responseJSON.passos[numpasso - 1];
                $('#IngredienteIdEdit').val(passo.ingredientes[k].id);
                $('#IngIdClass').hide();
                $('#IngredienteQuantEdit').val(passo.ingredientes[k].quantidade);
                $('#IngSubmitButton').val("Guardar");
            }
        })
    });
    
    $(document).ready(function () {
        $("select.step").change(function () {
            var i = $(this).children("option:selected").val();
            var length = json.responseJSON.passos.length;
            if (i == "Criar Novo" || length < i) {
                $("#NumeroPasso").val(length + 1);
                $("#DescricaoPasso").val("");
                $("#ImagemLinkPasso").val("");
                $("#VideoLinkPasso").val("");
                $("#LinkExternoPasso").val("");
                $("#DuracaoPasso").val("");
                $("#AssessoriosPasso").hide();
            }
            else {
                passo = json.responseJSON.passos[i - 1];
                $("#AssessoriosPasso").show();
                $("#NumeroPasso").val(i);
                $("#dpid").val(i);
                $("#ingpid").val(i);
                $("#upId").val(i);
                $("#DescricaoPasso").val(passo.info.descricao);
                $("#ImagemLinkPasso").val(passo.info.imagemLink);
                $("#VideoLinkPasso").val(passo.info.videoLink);
                $("#LinkExternoPasso").val(passo.info.linkExterno);
                $("#DuracaoPasso").val(passo.info.duracao);
                $("select.ingredSelect").find('option')
                    .remove()
                    .end()
                    .append('<option>Adicionar Novo</option>')
                    .val('whatever');
                $('#IngredienteIdEdit').val('');
                $('#IngIdClass').show();
                $('#IngredienteQuantEdit').val('');
                $('#IngSubmitButton').val("Adicionar");
                for (var k = 0; k < passo.ingredientes.length; k++){
                    $("select.ingredSelect").
                        append('<option value="' + k + '">' + passo.ingredientes[k].nome + '</option>');
                }
            }
        });
    });
</script>
<div class="container">
    <div id="RecipeEditor" class="container">
        <div class="col">
            <form method="post" action="/api/Receita/update">
                <input name="id" id="idReceita" value="@ViewData["ReceitaId"]" hidden />
                <div class="form-group">
                    Nome:
                    <input name="Nome" id="NomeReceita" class="form-control" type="text" required />
                </div>
                <div class="form-group">
                    Descrição:
                    <input name="Descricao" id="DescricaoReceita" class="form-control" type="text" required />
                </div>
                <div class="form-group">
                    Imagem:
                    <input name="ImagemLink" class="form-control" id="ImagemLinkReceita" type="url" />
                </div>
                <div class="form-group">
                    Video:
                    <input name="VideoLink" class="form-control" id="VideoLinkReceita" type="url" />
                </div>
                <div class="form-group">
                    Dificuldade:
                    Facil
                    <input type="radio" name="Dificuldade" id="DificuldadeReceita1" value="1" required />
                    Médio
                    <input type="radio" name="Dificuldade" id="DificuldadeReceita2" value="2" required />
                    Dificil
                    <input type="radio" name="Dificuldade" id="DificuldadeReceita3" value="3" required />
                </div>
                <div class="form-group">
                    Porções:
                    <input name="Porcoes" class="form-control" id="PorcoesReceita" type="number" required />
                </div>
                <div class="form-group">
                    Nutricao:
                    <div class="row">
                        <div class="col">
                            Energia:
                            <input name="Energia" id="EnergiaReceita" class="form-control" type="number" required />
                        </div>
                        <div class="col">
                            Gordura:
                            <input name="Gordura" id="GorduraReceita" class="form-control" type="number" required />
                        </div>
                        <div class="col">
                            Hidratos de Carbono:
                            <input name="HidratosCarbono" id="HidratosCarbonoReceita" class="form-control" type="number" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </div>
    </div>
    <br />
    <h2>Passos</h2>
    <div id="RecipeEditor" class="container">
        <div class="col">
            <form method="POST" action="/api/Receita/passo">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecionar Passo:</label>
                    <select class="step" id="stepSelect">
                        <option>Criar Novo</option>
                    </select>
                </div>
                <div class="form-group">
                    <input value="1" name="Numero" id="NumeroPasso" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <input value="@ViewData["ReceitaId"]" name="Receitaid" class="form-control" id="ReceitaidPasso" hidden />
                </div>
                <div class="form-group">
                    Descricao:
                    <input type="text" name="Descricao" id="DescricaoPasso" class="form-control" required />
                </div>
                <div class="form-group">
                    Imagem:
                    <input type="url" name="ImagemLink" class="form-control" id="ImagemLinkPasso" />
                </div>
                <div class="form-group">
                    Video:
                    <input type="url" name="VideoLink" class="form-control" id="VideoLinkPasso" />
                </div>
                <div class="form-group">
                    Link Externo:
                    <input type="url" name="LinkExterno" class="form-control" id="LinkExternoPasso" />
                </div>
                <div class="form-group">
                    Duração:
                    <input type="number" name="Duracao" class="form-control" id="DuracaoPasso" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </div>
        <br />
        <div id="AssessoriosPasso" class="row" style="display: none">
            <div class="col">
                <label>Adicionar Dúvida</label>
                <form method="POST" action="api/Duvida/passo/duvidaPasso">
                    <input value="1" name="Passoid" hidden id="dpid" />
                    <input value="@ViewData["ReceitaId"]" name="PassoReceitaid" hidden />
                    <div class="form-group">
                        Id da Dúvida:
                        <input name="Dúvidaid" class="form-control" required />
                    </div>
                    <div class="form-group">
                        Questão:
                        <input name="Questao" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Adicionar">
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="POST" action="/api/Receita/passo/ingrediente">
                    <div class="form-group">
                        <label>Editar Ingrediente</label>
                        <select class="ingredSelect" id="inredSelect">
                            <option>Criar Novo</option>
                        </select>
                    </div>
                    <input value="1" type="number" name="Passoid" id="ingpid" hidden />
                    <input value="@ViewData["ReceitaId"]" type="number" name="PassoReceitaid" hidden />
                    <div class="form-group" id="IngIdClass">
                        Id do Ingrediente:
                        <input type="number" name="Ingredienteid" id="IngredienteIdEdit"class="form-control" required />
                    </div>
                    <div class="form-group">
                        Quantidade:
                        <input type="number" name="Quantidade" id="IngredienteQuantEdit" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="IngSubmitButton" value="Adicionar">
                    </div>
                </form>
            </div>

            <div class="col">
                Adicionar Utensílio
                <form method="POST" action="/api/Receita/passo/utensilio">
                    <input value="1" type="number" name="Passoid" id="upId" hidden />
                    <input value="@ViewData["ReceitaId"]" type="number" name="PassoReceitaid" hidden />
                    <div class="form-group">
                        Id do Utensilio:
                        <input type="number" name="Utensilioid" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Adicionar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>